// colors
$accentColor = #00CAFF
$secondAccentColor = #46B746
$thirdAccentColor = #00c7bd;
$textColor = #232F3E
$borderColor = #D5DBDB
$codeBgColor = #282c34
$arrowBgColor = #FF9900

// layout
$navbarHeight = 5rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
