// FONTS!!
@font-face
    font-family: 'Amazon Ember';
    src: url('../fonts/AmazonEmber_Th.ttf');
    font-weight: 100;

@font-face
    font-family: 'Amazon Ember';
    src: url('../fonts/AmazonEmber_Lt.ttf');
    font-weight: 200;

@font-face
    font-family: 'Amazon Ember';
    src: url('../fonts/AmazonEmber_Md.ttf');
    font-weight: 300;

@font-face
    font-family: 'Amazon Ember';
    src: url('../fonts/AmazonEmber_Rg.ttf');
    font-weight: 400;

@font-face
    font-family: 'Amazon Ember';
    src: url('../fonts/AmazonEmber_Md.ttf');
    font-weight: 600;
