// colors
$accentColor = #00CAFF
$secondAccentColor = #46B746
$thirdAccentColor = #00c7bd;
$textColor = #232F3E
$borderColor = #D5DBDB
$codeBgColor = #282c34
$arrowBgColor = #FF9900

$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
